.card {

	//Card Functionality
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	width: 100%;
	height: 53rem; //the child, __side, causes the card parent's height to collapse.This is because of the absolute positioning, relative to this parent. We need to specify the same height here for the card to have any height during the animation.

	&__side {
		font-size: 2rem;

		height: 53rem;
		transition: all .8s ease;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		-webkit-backface-visibility: hidden;  
		backface-visibility: hidden;   
		border-radius: .3rem;
		box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
		

		&--front{
			background-color: $color-white;
		}

		&--back {
			background-color: green;
			transform: rotateY(180deg);

			&--1 {
				background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
			}

			&--2 {
				background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
			}

			&--3 {
				background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
			}
		}


	}

	&:hover &__side--front {
		transform: rotateY(-180deg);

	}

	&:hover &__side--back {
		transform: rotateY(0deg);

	}
	
	// Front Side Content Styles
	&__picture {
		background-size: cover;
		height: 23rem;
		background-blend-mode: soft-light;
		overflow: hidden;
		-webkit-clip-path: polygon(0 0, 100% 0 , 100% 85%, 0 100%);
		-moz-clip-path: polygon(0 0, 100% 0 , 100% 85%, 0 100%);
		clip-path: polygon(0 0, 100% 0 , 100% 85%, 0 100%);
		border-top-left-radius: 3px;
		border-top-right-radius: 3px; //hidden overflow declaration in &__side is broken by clip-path declarations. Set border radius manually here and we're good to go with rounded corners 
		&--1 {
			background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
			url(../img/nat-5.jpg);
		}

		&--2 {
			background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
			url(../img/nat-6.jpg);
		}

		&--3 {
			background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
			url(../img/nat-7.jpg);
		}
	}

	&__heading {
		font-size: 2.8rem;
		font-weight: 300;
		text-transform: uppercase;
		text-align: right;
		color: $color-white;
		position: absolute;
		top: 12rem;
		right: 2rem;
		width: 75%;


	}

	&__heading-span {
		padding: 1rem 1.5rem;
		-webkit-box-decoration-break: clone;
		-moz-box-decoration-break: clone;
		box-decoration-break: clone; /*applies all declarations, in this case just padding, to all boxes produced by an element (it's children). 
												Our right aligned heading text in two boxes are now treated as seperate entities, 
											and padding is applied to them individually, rather than just as one line altogether */
		&--1 {
			background-image: linear-gradient(to right bottom, 
			rgba($color-secondary-light, .85), 
			rgba($color-secondary-dark, .85));
		}
		&--2 {
			background-image: linear-gradient(to right bottom, 
			rgba($color-primary-light, .85), 
			rgba($color-primary-dark, .85));
		}
		&--3 {
			background-image: linear-gradient(to right bottom, 
			rgba($color-tertiary-light, .85), 
			rgba($color-tertiary-dark, .85));
		}
	}

	&__details {
		padding: 3rem;
		ul {
			list-style: none;
			width: 80%;
			margin: 0 auto;
			

			li{
				text-align: center;
				font-size: 1.5rem;
				padding: 1rem;

				&:not(:last-child) {
					border-bottom: 1px solid $color-grey238;
				}
			}
		}
	}

	// BACK SIDE CONTENT STYLES

	&__cta {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
		text-align: center;
	}

	&__price-box {
		text-align: center;
		color: $color-white;
		margin-bottom: 8rem;
	}

	&__price-only {
		font-size: 1.4rem;
		text-transform: uppercase;
	}

	&__price-value {
		font-size: 6rem;
		font-weight: 100;
	}

	






//============================================ MEDIA QUERY RE-WRITE OF .CARD ===========================================

	@include respond(tab-port) {
		height: auto;
		border-radius: 3px;
		background-color: $color-white;
		box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

		&__side {
			font-size: 2rem;

			height: auto;
			transition: all .8s ease;
			position: relative;
			box-shadow: none;
			
		

			&--back {
				transform: rotateY(0deg);
				clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
			}
		}

		&:hover &__side--front {
			transform: rotateY(0deg);
		}


		&__details {
			padding: 1rem 3rem;
		}

		&__cta {
			position: relative;
			top: 0;
			left: 0;
			transform: translate(0);
			width: 100%;
			padding: 7rem 4rem 4rem 4rem;
		}

		&__price-box {
			margin-bottom: 3rem;
		}

		&__price-value {
			font-size: 4rem;
		}
	}
}