//While use of !important is generally frowned upon unless it's truly your last resort, utilities classes are different. We want them to be applied for sure when we go out of our way to specify them, so they better take effect
.u-center-text { text-align: center !important; }


.u-margin-bottom-sm { margin-bottom: 1.5rem !important; }


.u-margin-bottom-md { 
	margin-bottom: 5rem !important; 

	@include respond(tab-port) {
		margin-bottom: 3rem;
	}
}



.u-margin-bottom-lg { 
	margin-bottom: 8rem !important; 

	@include respond(tab-port) {
		margin-bottom: 5rem;
	}
}

.u-margin-top-lg { margin-top: 8rem !important; }
.u-margin-top-xl { margin-top: 10rem !important; }